<ion-header>

  <ion-navbar color="navbar">
    <ion-title>Registro de articulos</ion-title>

    <ion-buttons end>
        <button (click)="getAll()" ion-button color="dark" round>
          <ion-icon name="md-refresh"></ion-icon>
        </button>
    </ion-buttons>

  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-searchbar placeholder="Buscar..." [(ngModel)]="searchTerm" (ionInput)="setFilteredItems()">
  </ion-searchbar>

  <div *ngIf="_articulos.length > 0">
    <br>
    <ion-list *ngFor="let a of _auxArticulos;  let i = index">
      <ion-item-divider>

        <div item-start>
          <b>{{i+1}}</b>
        </div>

        <h2>{{a.denominacion}}</h2>
        <p>Rubro: {{a.rubro.denominacion}}</p>
        <p>Precio de venta: {{a.precioVenta}}</p>

      </ion-item-divider>
    </ion-list>
  </div>

</ion-content>