<ion-header>

  <ion-navbar color="navbar">
    <ion-title>Registro de clientes</ion-title>

    <ion-buttons end>
        <button (click)="getAll()" ion-button color="dark" round>
          <ion-icon name="md-refresh"></ion-icon>
        </button>
    </ion-buttons>

  </ion-navbar>


</ion-header>


<ion-content padding class="bg-style">

  <ion-searchbar placeholder="Buscar..." [(ngModel)]="searchTerm" (ionInput)="setFilteredItems()">
  </ion-searchbar>

  <div *ngIf="_clientes.length > 0">
    <br>
    <ion-list *ngFor="let c of _auxClientes;  let i = index">
      <ion-item-divider>

        <div item-start>
          <b>{{i+1}}</b>
        </div>

        <h2>{{c.razonSocial}}</h2>
        <p>Cuit: {{c.cuit}}</p>

      </ion-item-divider>
    </ion-list>
  </div>

</ion-content>